In [24]:
import pandas as pd
from config import WEATHER_FILE, CT_CATALOG_FILE

In [25]:
CT_design = pd.read_excel(CT_CATALOG_FILE, engine='openpyxl')
CT_design

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CT</th>
      <th>Capacity [kW]</th>
      <th>HWT [°C]</th>
      <th>CWT °C]</th>
      <th>WBT [C°]</th>
      <th>approach [C°]</th>
      <th>range [C°]</th>
      <th>water flow [kg/s]</th>
      <th>air flow [kg/s]</th>
      <th>L/G</th>
      <th>evap loss [%]</th>
      <th>Fan diameter [m]</th>
      <th>CT perf slope</th>
      <th>CT perf y-int</th>
      <th>Min Range [C°]</th>
      <th>Max per unit water flow</th>
      <th>Min per unit water flow</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100</td>
      <td>100</td>
      <td>38</td>
      <td>32.8</td>
      <td>29.73008</td>
      <td>3.065992</td>
      <td>5.2</td>
      <td>4.59</td>
      <td>2.27</td>
      <td>2.02</td>
      <td>0.78</td>
      <td>0.9</td>
      <td>0.65</td>
      <td>13.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>150</td>
      <td>150</td>
      <td>38</td>
      <td>32.8</td>
      <td>29.73008</td>
      <td>3.065992</td>
      <td>5.2</td>
      <td>6.89</td>
      <td>3.41</td>
      <td>2.02</td>
      <td>0.78</td>
      <td>0.9</td>
      <td>0.65</td>
      <td>13.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>200</td>
      <td>200</td>
      <td>38</td>
      <td>32.8</td>
      <td>29.73008</td>
      <td>3.065992</td>
      <td>5.2</td>
      <td>9.19</td>
      <td>4.55</td>
      <td>2.02</td>
      <td>0.78</td>
      <td>1.2</td>
      <td>0.65</td>
      <td>13.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>300</td>
      <td>300</td>
      <td>38</td>
      <td>32.8</td>
      <td>29.73008</td>
      <td>3.065992</td>
      <td>5.2</td>
      <td>13.79</td>
      <td>6.83</td>
      <td>2.02</td>
      <td>0.78</td>
      <td>1.2</td>
      <td>0.65</td>
      <td>13.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>400</td>
      <td>400</td>
      <td>38</td>
      <td>32.8</td>
      <td>29.73008</td>
      <td>3.065992</td>
      <td>5.2</td>
      <td>18.38</td>
      <td>9.10</td>
      <td>2.02</td>
      <td>0.78</td>
      <td>1.6</td>
      <td>0.65</td>
      <td>13.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>500</td>
      <td>500</td>
      <td>38</td>
      <td>32.8</td>
      <td>29.73008</td>
      <td>3.065992</td>
      <td>5.2</td>
      <td>22.98</td>
      <td>11.38</td>
      <td>2.02</td>
      <td>0.78</td>
      <td>1.6</td>
      <td>0.65</td>
      <td>13.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>800</td>
      <td>800</td>
      <td>38</td>
      <td>32.8</td>
      <td>29.73008</td>
      <td>3.065992</td>
      <td>5.2</td>
      <td>36.77</td>
      <td>18.22</td>
      <td>2.02</td>
      <td>0.78</td>
      <td>2.2</td>
      <td>0.65</td>
      <td>13.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>